*{font-family: Arial, Helvetica, sans-serif}
h1
{
    text-align: center; 
    margin: 30px auto;
    font-size: 25px
    
}
.identidade_visual
{
    text-align: center;
    height: 70px;
    margin: 80px auto
}
.navbar
{
    justify-content:center;
    font-size: 15px
}

